rules_version = '2';
service cloud.firestore {
	// allow
	// read
	// get, list
	// write
	// create, update, delete
	match /databases/{db}/documents {
		match /profiles/{profileId} {
			allow get: if true
			allow list: if false

			allow create: if isSigned() && isUserId(profileId)
			allow update: if isSigned() && isUserId(profileId)
			allow delete: if false
		}
		match /privateProfiles/{ppi} {
			allow get: if isSigned() && isUserId(ppi)
			allow list: if false

			allow create: if isVerified() && isUserId(ppi)
			allow update: if isVerified() && isUserId(ppi)
			allow delete: if false
		}
		match /sysProfiles/{spi} {
			allow read: if false
			allow write: if false
		}
		match /posts/{postId} {
			allow get: if true
			allow list: if true
		}
		match /reports/{reportId} {
			allow get: if isVerified()
			allow list: if isVerified()
		}
		match /animals/{animalId} {
			allow get: if true
			allow list: if true
		}

		function isUserId(id){
			return id == request.auth.uid
		}

		function isVerified(){
			return request.auth != null && request.auth.token.email_verified
		}

		function isSigned(){
			return request.auth != null
		}
	}
}