.firebase-emulator-warning {
	display: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-width: 0;
	min-height: 0;
	overflow-wrap: break-word;
}

body {
	overflow: hidden;
	display: grid;
	height: 100vh;
	width: 100vw;

	grid-template-columns: 1fr;
	grid-template-rows: 3rem 1fr 3rem;
	grid-template-areas:
		"header"
		"main"
		"footer";

	font-family: sans-serif;
	align-items: stretch;
	justify-items: stretch;
	overflow-wrap: break-word;
}

li, ul, ol {
	margin: unset;
	padding: unset;
}

img {
	max-width: 100%;
}


form,
.display {
	position: relative;
	min-height: 4rem;
	padding: 1rem 1rem 0.5rem;
	overflow: auto;
	box-shadow: -0.1rem 0.3rem var(--shadows);
}
button,
input[type="submit"] {
	font-size: inherit;
	padding: 0.5rem;
}
input,
textarea {
	border: 1px solid var(--greys-2);
	border-radius: 0.4rem;
	padding: 0.1rem 0.4rem;
}
.floatingControls {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
}
.controlsRow {
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
}
.iconControl {
	width: 2rem;
	height: 2rem;
	padding: 0.2rem;
}
.iconControl svg {
	width: 100%;
	height: 100%;
}


#innerHeader #banner h1 {
	font-size: 1.8rem;
	display: none;
}

@media (min-width: 22rem) {
	#innerHeader #banner h1 {
		display: inline;
	}
}

header, main, footer {
	width: 100%;
	padding: 0.25rem 0.5rem;
	display: flex;
	justify-content: center;
}

header, footer {
	background-color: var(--greys-4);
}

.inner {
	display: inline-block;
	width: 100%;
	max-width: 64ch;
}

header {
	grid-area: header;
	overflow-y: auto;
}

@media (min-width: 50rem){
	header{
		background-image: url("/assets/icons/icon-512x512.png");
		background-repeat: no-repeat;
		background-size: 6rem 100%;
	}
}

#innerHeader {
	overflow-x: auto;
	overflow-y: hidden;
}

#innerHeader, nav {
	display: flex;
	height: 100%;
	width: 100%;

	flex-wrap: nowrap;
	justify-content: stretch;
	align-content: stretch;
	gap: 1rem;
}

nav {
	justify-content: space-around;
	align-content: space-around;
}

#innerHeader > *{
	display: flex;
	align-items: center;
}

#innerHeader > #banner {
	flex: 1.8 0;
	width: fit-content;
	overflow-x: visible;
}

#banner > * {
	display: inline-block;
}

#innerHeader > #toolRow{
	display: flex;
	flex: 0 1 12rem;
}

main {
	grid-area: main;

	margin: 0.25rem 0;
	
	overflow-y: auto;
	overflow-x: hidden;
}

main .inner {
	max-width: 100%;
}

footer {
	grid-area: footer;
}

nav > *{
	max-width: 6rem;
	align-items: center;
}

a.jsLink {
	border-radius: 0.5rem;
	border: 1px solid var(--greys-1);
	line-height: 3.5;
	text-align: center;
	vertical-align: middle;
	word-wrap: break-word;
	overflow: hidden;
}
a.jsLink * {
	pointer-events: none;
}
a.jsLink svg {
	width: 100%;
	height: 100%;
}
a.jsLink:hover {
	background-color: var(--greys-3);
}
a.jsLink:active {
	background-color: var(--greys-2);
}


#hoverPanel {
	display: flex;

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	align-items: center;
	justify-items: center;

	background-color: #00000060;
}

.ratioParent {
	position: relative;
	padding: 0;
}
.ratio {
	width: 100%;
}
.ratioSlave {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.loader {
	border-radius: 1rem;
	padding: 0.5rem;
}